
        <div class='container' style="padding-left: 20%;padding-top: 10%;" >
            <mat-card class="example-card" style="width:60%;">
                    <mat-card-content>
                        <h6>Name : {{teacher.name}}</h6> 
                        <h6>Classes : <a *ngFor='let cl of teacher.class'>{{cl.class}},</a>Classes </h6>
                        <h6>Subject : {{teacher.subject.subject}}</h6>
                        <h6>Mobile:{{teacher.phone}}</h6>
                        <h6>Email:{{teacher.email}}</h6>
                  
                    </mat-card-content>
                    <mat-card-actions>
                      <a href="teachers/update/{{teacher._id}}"><button mat-raised-button color="primary" >Update</button></a>
                    </mat-card-actions>
              </mat-card>
             
        </div>
        
        
               
          