<div class="container">
    <h2>Admin LogIn</h2>
    <form class="form-horizontal"  (ngSubmit)='onSubmit()' novalidate #myForm="ngForm" method="POST" role="form">
     <strong [class.d-none]='!errorMsg' class='text-danger'>admin already exists</strong>
     <div class="form-group">
        <label class="control-label col-sm-2" for="username">username:</label>
        <div class="col-sm-10">
          <input type="text" [class.is-invalid]="username.invalid && username.touched" class="form-control" id="username_name" placeholder="Enter username " name="username" [(ngModel)]='admin.username' #username ="ngModel" required>
          <small class="text-danger" [class.d-none]='username.valid || username.untouched'>username  is required</small>
  
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="password">Password:</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password" [class.is-invalid]='password.touched && password.invalid' placeholder="Enter Password" name="password" [(ngModel)]='admin.password' #password="ngModel" required>
          <small class="text-danger" [class.d-none]='password.valid || password.untouched '>password is required</small>
  
        </div>
      </div><div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <button  [disabled]="myForm.invalid  || clicked" type="submit" class="btn btn-primary">Login<span [class.d-none]="!clicked" class="spinner-border spinner-border-sm text-light ml-1" role="status">
                <span class="sr-only">Loading...</span>
            </span></button>
          </div>
        </div>

      </form>
</div>
