<div  class="container" style="padding-left: 15%;padding-top: 10%;text-align:center;" *ngIf="teacher">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th colspan="3" >{{teacher.name.toUpperCase()}}</th>
            </tr>
          </thead>
          <tbody>
        <tr>
              <td>NAME</td>
              <td>{{teacher.name}}</td>
        </tr>
        <tr>
              <td>CLASS</td>
             
              <td>
                <a *ngFor="let cl of teacher.class">
                    {{cl.class}}th
                </a> Class
                
              </td>
        </tr>
        <tr>
              <td>SUBJECT</td>
                <td>{{teacher.subject.subject}}</td>
        </tr>
        <tr>
              <td>PHONE</td>
              <td>{{teacher.phone}}</td>
        </tr>
        <tr>
              <td>EMAIL</td>
              <td>{{teacher.email}}</td>
        </tr>
       
            
          </tbody>
        </table>
        <br>
        
        <a href="teachers/update/{{teacher._id}}"><button type="button" class="btn btn-primary">Update Details</button></a>
        
        </div>
               
          