<mat-tab-group>
        <mat-tab label="Students" >
                <mat-form-field>
                        <input matInput (keyup)="applyFilter1($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                        <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">
                
                        <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element;let i = index"> {{i+1}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element "><a href="students/{{element._id}}">{{element.name}}</a></td>
                        </ng-container>
                        <ng-container matColumnDef="roll">
                                <th mat-header-cell *matHeaderCellDef> Roll </th>
                                <td mat-cell *matCellDef="let element"> {{element.roll}} </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                        </table>
                                              
         </mat-tab>
        <mat-tab label="Teachers">
        <mat-form-field>
                <input matInput (keyup)="applyFilter2($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
                
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element;let i = index"> {{i+1}} </td>
                </ng-container>
                
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"><a href="teachers/{{element._id}}">{{element.name}}</a></td>
                </ng-container>
                
                <!-- Weight Column -->
                <ng-container matColumnDef="subject">
                        <th mat-header-cell *matHeaderCellDef> subject </th>
                        <td mat-cell *matCellDef="let element"> {{element.subject.subject}} </td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> phone </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                </table>
        </mat-tab>
        <mat-tab label="Mark List">
                <ul class='list-group'>
                  <li class='list-group-item' *ngFor='let test of Information.test'><a href="tests/{{test._id}}">{{test.test}}</a></li>
                </ul><br>
                <a href="tests/create"><button class='btn btn-primary'>Add test</button></a>
        </mat-tab>
</mat-tab-group>
